<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="suvaline.pack"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".OpenActivity"
        		  android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />    
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  
        <activity android:name=".Search" 
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".Activity_Stream" 
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".Network" 
        android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name=".Template" 
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".Storage" 
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".Compute" 
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:configChanges="orientation|keyboard|keyboardHidden" />
     
  </application>
</manifest>